<div class='chat'>
  I speak <select ng-model='chat.myLanguage' ng-options='option.languageName for option in chat.languages'></select>
  
  <hr />
  
  <div class='chatLines'>
    <div class='message' ng-repeat='message in chat.messages' ng-class='{unseen: message.seen === false || message.id > chat.lastSeen}'>
      <div class='sender'>{{message.sender}}</div>
      <div class='language'>{{message.language.languageName}}</div>
      <div class='time'>{{chat.printTime(message.time)}}</div>
      <div ng-if='message.language === chat.myLanguage || message.translation.language === null || message.translation.language !== chat.myLanguage' class='message'>{{message.message}}</div>
      <div ng-if='message.language !== chat.myLanguage && message.translation.language !== null && message.translation.language === chat.myLanguage' class='message' title='{{message.message}}'>{{message.translation.message}}</div>
    </div>
  </div>
  
  <hr />
  
  <div class='myMessage'>
   <textarea ng-model='chat.myMessage'></textarea>
   <button type='button' ng-click='chat.send()'>Send</button>
  </div>
</div>