.yoco-form-control{
  font-size: 14px;
  padding: 3px 6px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.loginBox{
  margin: 10px;
  
  div{
    margin: 5px 0;
  }
  
  .message{
    text-align: center;
  }
  
  .error{
    color: red;
  }
  
  .yoco-label{
    width: 100px;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
  }
  
  .rememberMe, .loginButton{
    text-align: center;
    
    button{
      border-radius: 10px;
      padding: 3px 10px;
      outline: 0;
    }
  }
}

.modal-login{
  .modal-dialog{
    width: 400px !important;
  }
}