<div class="modal-content">
  <div class="modal-body">
    <form name='login.loginForm' class='loginBox' ng-submit='login.submit()' novalidate>
      <div class='message' ng-class='{ error: login.messageType == "error" }'>{{login.message}}</div>
    
      <div ng-class='{ error: login.loginForm.username.$dirty && login.loginForm.username.$invalid }'>
        <span class='yoco-label'>Username:</span>
        <input class='yoco-form-control' type='text' name='username' ng-model='login.username' required />
      </div>
      
      <div ng-class='{ error: login.loginForm.password.$dirty && login.loginForm.password.$invalid }'>
        <span class='yoco-label'>Password:</span>
        <input class='yoco-form-control' type='password' name='password' ng-model='login.password' required />
      </div>
      
      <div class='rememberMe'>
        <input class='yoco-form-control' type='checkbox' ng-model='login.rememberMe' /> Remember Me on this Computer
      </div>
      
      <div class='loginButton'>
        <button type='submit'>Login</button>
      </div>
    </form>
  </div>
</div>