<div class="modal-content">
  <div class="modal-body">
    <div class='rawError' data-ng-bind-html='error.displayHTML'></div>
    <div class='jsonErrorData' data-ng-repeat='err in error.jsonErrors.errors'>
      <div>{{err.typeName}}: {{err.message}}</div>
      <div>
        {{err.file}}
        <span data-ng-show='err.line'>: {{err.line}}</span>
      </div>
    </div>
  </div>
</div>